Repository projet-gl2/Hashimiste, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projet-gl2/code-review, @projet-gl2/javadoc-review, @projet-gl2/maps, @projet-gl2/sql, @projet-gl2/gui, @projet-gl2/menu, @projet-gl2/jeu, @projet-gl2/technique

Ajout de Couleur.java + Maj de Menu.java
  src/main/java/fr/hashimiste/gui/Couleur.java
  src/main/java/fr/hashimiste/gui/Menu.java
Owners: @projet-gl2/gui

Ajout de image.java + maj de menu.java + maj de la doc
  src/main/java/fr/hashimiste/gui/Couleur.java
  src/main/java/fr/hashimiste/gui/Image.java
  src/main/java/fr/hashimiste/gui/Menu.java
  src/main/resources/images/logoTitreTransparent.png
Owners: @projet-gl2/gui, @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout méthode charger
  src/main/java/fr/hashimiste/Historique.java
  src/main/java/fr/hashimiste/Ile.java
  src/main/java/fr/hashimiste/Map.java
  src/main/java/fr/hashimiste/Pont.java
  src/main/java/fr/hashimiste/Profil.java
  src/main/java/fr/hashimiste/SQLConstant.java
  src/main/java/fr/hashimiste/Score.java
  src/main/java/fr/hashimiste/Statistique.java
  src/main/java/fr/hashimiste/bdd.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout des méthodes chargé
  src/main/java/fr/hashimiste/Bdd.java
  src/main/java/fr/hashimiste/Historique.java
  src/main/java/fr/hashimiste/Ile.java
  src/main/java/fr/hashimiste/Map.java
  src/main/java/fr/hashimiste/Pont.java
  src/main/java/fr/hashimiste/Profil.java
  src/main/java/fr/hashimiste/Score.java
  src/main/java/fr/hashimiste/Statistique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Update Menu Libre
  src/main/java/fr/hashimiste/gui/modelibre/ModeLibre.java
  src/main/java/fr/hashimiste/gui/modelibre/PreviewComponent.java
  src/main/java/fr/hashimiste/maps/Ile.java
Owners: @projet-gl2/gui, @projet-gl2/maps

ajout technique 2 isolé
  .idea/workspace.xml
  src/main/java/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

typo
  src/main/java/Direction.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

ajout technique 2 isolé (avec deux 1)
  src/main/java/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

modif nom technique + docu
  src/main/java/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout méthode charger
  src/main/java/fr/hashimiste/Score.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout de commentaires
  src/main/java/fr/hashimiste/Historique.java
  src/main/java/fr/hashimiste/Ile.java
  src/main/java/fr/hashimiste/Map.java
  src/main/java/fr/hashimiste/Pont.java
  src/main/java/fr/hashimiste/Profil.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout de commentaires
  src/main/java/fr/hashimiste/Bdd.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout de commentaires
  src/main/java/fr/hashimiste/Bdd.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Update - implémentation de l'enum Technique
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

Ajout et placement des boutons dispo lors de la partie
  src/main/java/Jeu.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Update Menu.java
  src/main/java/fr/hashimiste/gui/Menu.java
Owners: @projet-gl2/gui

Ajout de commentaires
  src/main/java/fr/hashimiste/Score.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout de commentaire pour les constantes
  src/main/java/Jeu.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout de commentaires
  src/main/java/fr/hashimiste/Save.java
  src/main/java/fr/hashimiste/Statistique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Update - gestion couleurs avec classe Couleur
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

Ajout des couleurs + modif du look and feel pour mac
  src/main/java/fr/hashimiste/gui/modelibre/ModeLibre.java
  src/test/java/ModeLibreGui.java
  src/test/java/fr/hashimiste/gui/ModeLibreGui.java
Owners: @projet-gl2/gui, @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout d'un package pour l'importation
  src/main/java/fr/hashimiste/techniques/Direction.java
  src/main/java/fr/hashimiste/techniques/Grille.java
  src/main/java/fr/hashimiste/techniques/Ile.java
  src/main/java/fr/hashimiste/techniques/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Update - changement chemin package
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

Modifications des commentaires afin de correspondre à de la javadoc
  src/main/java/Jeu.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

sauts de ligne
  src/main/java/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Suppression de fichier
  src/main/java/Aventure.java
  src/main/java/Direction.java
  src/main/java/Grille.java
  src/main/java/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

ajout transparence mise a jour menuprofilcreation
  src/main/java/fr/hashimiste/gui/Couleur.java
  src/main/java/fr/hashimiste/gui/MenuProfilCreation.java
Owners: @projet-gl2/gui

Modification de couleur, image et menu.java par rapport au retour de la review
  src/main/java/fr/hashimiste/gui/Couleur.java
  src/main/java/fr/hashimiste/gui/Image.java
  src/main/java/fr/hashimiste/gui/Menu.java
Owners: @projet-gl2/gui

javadoc + todo
  src/main/java/fr/hashimiste/gui/modelibre/ModeLibre.java
  src/main/java/fr/hashimiste/gui/modelibre/PreviewComponent.java
  src/test/java/fr/hashimiste/gui/ModeLibreGui.java
Owners: @projet-gl2/gui

modification des couleurs
  src/main/java/fr/hashimiste/gui/modelibre/ModeLibre.java
Owners: @projet-gl2/gui

Attributs de taille remplacés par des constantes
  src/main/java/fr/hashimiste/gui/MenuParametres.java
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

Update javadoc
  src/main/java/fr/hashimiste/gui/MenuParametres.java
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

Ajout dans le package fr.hashimiste.techniques
  src/main/java/fr/hashimiste/techniques/Direction.java
  src/main/java/fr/hashimiste/techniques/Grille.java
  src/main/java/fr/hashimiste/techniques/Ile.java
  src/main/java/fr/hashimiste/techniques/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

déplacement Ile.java
  .idea/workspace.xml
  src/main/java/Ile.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Suppression dans l'arborescence
  src/main/java/Ile.java
  src/main/java/Jeu.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Renommage de Jeu.java en MenuJeu.java et déplacement dans fr.hashimiste.gui
  src/main/java/fr/hashimiste/gui/MenuJeu.java
Owners: @projet-gl2/gui

Ajout de getter
  src/main/java/fr/hashimiste/Pont.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

ajout technique n pair et (n/2)+1 voisins dont un avec 1
  .idea/workspace.xml
  src/main/java/fr/hashimiste/techniques/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Ajout de getter
  src/main/java/fr/hashimiste/Profil.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Fix manque d'import et de déclaration de package Fusion de fichiers TODO: adapter la classe Technique
  src/main/java/fr/hashimiste/maps/Grille.java
  src/main/java/fr/hashimiste/maps/Ile.java
  src/main/java/fr/hashimiste/maps/Pont.java
  src/main/java/fr/hashimiste/techniques/Direction.java
  src/main/java/fr/hashimiste/techniques/Grille.java
  src/main/java/fr/hashimiste/techniques/Ile.java
  src/main/java/fr/hashimiste/techniques/Technique.java
Owners: @projet-gl2/maps, @projet-gl2/code-review, @projet-gl2/javadoc-review

.github/CODEOWNERS:

# Global owners
*           @projet-gl2/code-review @projet-gl2/javadoc-review

# Maps owner
maps/       @projet-gl2/maps

# SQL owner
sql/        @projet-gl2/sql

# Gui owner
gui/        @projet-gl2/gui

# Gui menu owner
gui/menu/   @projet-gl2/menu

# Gui game owner
gui/game/   @projet-gl2/jeu


# Technique owner
technique/  @projet-gl2/technique
