Repository projet-gl2/Hashimiste, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projet-gl2/code-review, @projet-gl2/javadoc-review, @projet-gl2/maps, @projet-gl2/sql, @projet-gl2/gui, @projet-gl2/menu, @projet-gl2/jeu, @projet-gl2/technique

.github/CODEOWNERS:

# Global owners
*           @projet-gl2/code-review @projet-gl2/javadoc-review

# Maps owner
maps/       @projet-gl2/maps

# SQL owner
sql/        @projet-gl2/sql

# Gui owner
gui/        @projet-gl2/gui

# Gui menu owner
gui/menu/   @projet-gl2/menu

# Gui game owner
gui/game/   @projet-gl2/jeu


# Technique owner
technique/  @projet-gl2/technique

Fix manque d'import et de déclaration de package Fusion de fichiers TODO: adapter la classe Technique
  .idea/gradle.xml
  .idea/workspace.xml
  src/main/java/fr/hashimiste/Map.java
  src/main/java/fr/hashimiste/maps/Grille.java
  src/main/java/fr/hashimiste/maps/Ile.java
  src/main/java/fr/hashimiste/maps/Pont.java
  src/main/java/fr/hashimiste/techniques/Direction.java
  src/main/java/fr/hashimiste/techniques/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review, @projet-gl2/maps

Changement de la création des boutons pour que le code respecte les principes de la POO
  src/main/java/fr/hashimiste/gui/MenuJeu.java
Owners: @projet-gl2/gui

Fix manque d'import et de déclaration de package Fusion de fichiers TODO: adapter la classe Technique
  src/main/java/fr/hashimiste/maps/Grille.java
  src/main/java/fr/hashimiste/maps/Ile.java
  src/main/java/fr/hashimiste/maps/Pont.java
  src/main/java/fr/hashimiste/techniques/Direction.java
  src/main/java/fr/hashimiste/techniques/Grille.java
  src/main/java/fr/hashimiste/techniques/Ile.java
  src/main/java/fr/hashimiste/techniques/Technique.java
Owners: @projet-gl2/maps, @projet-gl2/code-review, @projet-gl2/javadoc-review

ajout méthodes sur Ile et Grille
  .idea/workspace.xml
  src/main/java/fr/hashimiste/maps/Grille.java
  src/main/java/fr/hashimiste/maps/Ile.java
  src/main/java/fr/hashimiste/techniques/Technique.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review, @projet-gl2/maps

Création de classes pour créer la grille de jeu
  src/main/java/fr/hashimiste/Case.java
  src/main/java/fr/hashimiste/CaseIle.java
  src/main/java/fr/hashimiste/CasePont.java
  src/main/java/fr/hashimiste/CaseVide.java
  src/main/java/fr/hashimiste/Grille.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Suppression des variables inutiles
  src/main/java/fr/hashimiste/gui/MenuJeu.java
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

Création de classes pour créer la grille de jeu
  src/main/java/fr/hashimiste/Ile.java
  src/main/java/fr/hashimiste/Pont.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review

Suppression des variables inutiles
  src/main/java/fr/hashimiste/gui/MenuJeu.java
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

Suppression des variables inutiles
  src/main/java/fr/hashimiste/gui/MenuParametres.java
Owners: @projet-gl2/gui

ajout java doc pont constructionPossible
  .idea/workspace.xml
  src/main/java/fr/hashimiste/maps/Pont.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review, @projet-gl2/maps

rajout du menu aventure qui avait disparu + rename pour coller aux noms des menus
  src/main/java/fr/hashimiste/gui/MenuAventure.java
Owners: @projet-gl2/gui

Fix des imports
  src/main/java/fr/hashimiste/gui/Menu.java
Owners: @projet-gl2/gui

TODO qui brillent
  .idea/workspace.xml
  src/main/java/fr/hashimiste/maps/Grille.java
  src/main/java/fr/hashimiste/maps/Ile.java
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review, @projet-gl2/maps

mise a jour Classe MenuProfilCration +ajout Classe Profil tmp
  src/main/java/fr/hashimiste/gui/MenuProfilCreation.java
  src/main/java/fr/hashimiste/gui/Profil.java
Owners: @projet-gl2/gui

Changement de l'icone de la fenêtre pour mettre le logo
  src/main/java/fr/hashimiste/gui/MenuJeu.java
  src/main/java/fr/hashimiste/gui/MenuParametres.java
  src/main/java/fr/hashimiste/gui/MenuTechnique.java
Owners: @projet-gl2/gui

ajout de fichier et dossier a ignorer
  .gitignore
  .idea/gradle.xml
  .idea/misc.xml
  .idea/vcs.xml
  .idea/workspace.xml
Owners: @projet-gl2/code-review, @projet-gl2/javadoc-review
